/*==========================================================
    
    Template name - Cuda 
    Template uri  -
    Description   - Portfolio template
    Author        - Moshiur Rahman Rakib
    Support       - moshiurrakib4@gmail.com
    version       - 1.0

==========================================================*/

/*==========================================================
    
    css index :
    1.Common CSS
    2.HEADER CSS
    3.SERVICE CSS
    4.TEAM CSS
    5.SKIL CSS
    6.
    7.
    8.

==========================================================*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,body{
    background-color:#fff;
    color: #000;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    font-size: 10px;
    text-rendering: optimizeLegibility;
    line-height: 1.5;
 }

 
a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: #fff;
}



/* Reusable components*/

.row{
    width: 1180px;
    margin: auto;
}



/*==========================================================
                3.hero
==========================================================*/
#hero h1{
    color: aqua;
}













